asttokens
Brotli
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
efficientnet_pytorch
exceptiongroup
executing
filelock
fonttools
fsspec
gmpy2
huggingface_hub
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mpmath
munch
nest-asyncio
networkx
numpy
opencv-python
opencv-python-headless
packaging
parso
pillow
platformdirs
ply
pretrainedmodels
prompt-toolkit
protobuf
psutil
pure-eval
Pygments
pyparsing
PyQt5
PyQt5_sip
PyQt6_sip
PySocks
python-dateutil
PyYAML
pyzmq
regex
requests
sacremoses
safetensors
segmentation_models_pytorch
sip
six
stack-data
sympy
timm
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
unicodedata2
urllib3
wcwidth
win-inet-pton